@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Görev Yönetim</h2>
<div class="login-box">
    <h4 class="login-text">Giriş</h4>
    <form asp-action="Login" method="post">
        <center>
            <input placeholder="email" type="email" id="email" name="email" class="form-control" required>
            <button id="btn-login" type="submit" class="btn btn-primary">Giriş Yap</button>
        </center>
    </form>
</div>
