/* Genel Ayarlar */
html {
    height: 100%;
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', Arial, sans-serif;
    color: #333;
    background: linear-gradient(135deg, #f0f0f0, #cccccc);
    box-sizing: border-box;
    overflow-x: hidden;
}

    /* Dark Mode için Genel Stil Ayarlarý */
    body.dark-mode {
        color: #f0f0f0;
        background: linear-gradient(135deg, #121212, #1d1d1d);
        transition: background 0.5s ease, color 0.5s ease;
    }

        body.dark-mode .login-box {
            background: rgba(40, 40, 40, 0.9);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        }

            body.dark-mode .login-box .user-box input {
                color: #f0f0f0;
                border-bottom-color: #00ccff;
            }

            body.dark-mode .login-box .user-box label {
                color: #bbbbbb;
            }

        body.dark-mode .container {
            background: #1d1d1d;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

        body.dark-mode button,
        body.dark-mode .btn {
            background: #444444;
            color: #fff;
        }

            body.dark-mode .btn:hover {
                background: #555555;
            }

        body.dark-mode .table tbody tr {
            background-color: #2a2a2a;
            color: #fff;
        }

            body.dark-mode .table tbody tr:nth-child(even) {
                background-color: #333333;
            }

        body.dark-mode .table thead th {
            background-color: #444444;
            color: #fff;
        }

        body.dark-mode footer {
            color: #fff;
            background: #222;
        }

        body.dark-mode .sidebar {
            background-color: #333333;
        }

        body.dark-mode .header {
            background-color: #222222;
        }

        body.dark-mode .profile-container {
            background: #1d1d1d;
        }

        body.dark-mode .profile-details h2 {
            color: #f0f0f0;
        }

        body.dark-mode .outer-box {
            background: #2a2a2a;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }

/* Görev Yönetim Sistemi Baþlýk Stili */
#main-title {
    font-size: 6em; /* Yazý tipi boyutunu artýr */
    color: #ffffff; /* Beyaz renk */
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5); /* Metin için gölge efekti */
    font-weight: 900; /* Daha kalýn font */
    margin-bottom: 20px; /* Alt boþluk */
    transition: all 0.3s ease; /* Geçiþ efektleri */
}

    #main-title:hover {
        transform: scale(1.05); /* Baþlýk üzerine gelindiðinde büyüt */
        text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.7); /* Gölge efektini artýr */
    }
