<!-- Index.cshtml -->
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GÖREV YÖNETİM SİSTEMİ</h1>
<p>Hoş geldiniz!</p>
<p>Bu uygulamada görevleriniz görebilir, görev durumunu güncelleyebilirsiniz.</p>
<p>Verilen görevi zamanında yapmaya özen gösterelim iyi çalışmalar.</p>