@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f8f8f8; /* Hafif kirli beyaz arkaplan */
    }

    /* Dijital Saatin Ortalanması ve Stili */
    .digital-clock-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 30px;
        background-color: rgba(52, 58, 64, 0.8); /* Hafif saydam arka plan */
        border-bottom: 2px solid #222;
    }

    .digital-clock {
        font-size: 3em;
        color: #fff; /* Saat rengi beyaz */
        font-weight: bold;
        animation: pulse 2s infinite;
    }

    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        padding-top: 60px;
        text-align: center;
    }

    .welcome-message {
        font-size: 10em;
        color: #000; /* Başlık rengi siyah */
        font-weight: bold;
        margin-top: 20px;
        position: relative;
        text-shadow: 2px 2px 4px #888; /* Gri gölgelendirme */
    }

    .centered-content p {
        font-size: 1.8em;
        color: #000; /* Paragraf rengi siyah */
        margin: 10px 0;
        transition: transform 0.3s ease, font-size 0.3s ease;
    }

        .centered-content p:hover {
            transform: scale(1.2); /* Metin üzerine gelindiğinde büyütme */
            font-size: 2em; /* Font boyutunu artır */
        }

    #main-title {
        font-size: 4em;
        color: #000; /* Ana başlık rengi siyah */
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        margin-bottom: 20px;
    }

    @@keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
</style>

<div class="digital-clock-container" id="clock-container">
    <div id="clock" class="digital-clock"></div>
</div>

<div class="centered-content" id="content">
    <h1 id="main-title">GÖREV YÖNETİM SİSTEMİ</h1>
    <p class="welcome-message" id="welcome">Hoş geldiniz!</p>
    <div>
        <p>Bu uygulamada görevlerinizi görebilir, görev durumunu güncelleyebilirsiniz.</p>
        <p>Verilen görevi zamanında yapmaya özen gösterelim. İyi çalışmalar!</p>
    </div>
</div>

<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');
        var seconds = now.getSeconds().toString().padStart(2, '0');
        var timeString = hours + ':' + minutes + ':' + seconds;
        document.getElementById('clock').textContent = timeString;
    }

    document.addEventListener('DOMContentLoaded', function () {
        updateClock();
        setInterval(updateClock, 1000);
    });
</script>
