@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f8f8f8;
    }

    .digital-clock-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; 
    }

    .digital-clock {
        font-size: 3em;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace; 
        letter-spacing: 0.1em; 
    }

    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 60px;
        text-align: center;
    }

    .welcome-message {
        font-size: 6em;
        color: #000;
        font-weight: bold;
        margin-top: 20px;
        position: relative;
        text-shadow: 2px 2px 4px #888;
    }

    .centered-content p {
        font-size: 1.5em;
        color: #000;
        margin: 10px 0;
        transition: transform 0.3s ease, font-size 0.3s ease;
    }

        .centered-content p:hover {
            transform: scale(1.05);
        }

    #main-title {
        font-size: 3.5em;
        color: #000;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        margin-bottom: 20px;
    }
</style>

<div class="centered-content" id="content">
    <h1 id="main-title">GÖREV YÖNETİM SİSTEMİ</h1>
    <p class="welcome-message" id="welcome">Hoş geldiniz!</p>
    <div>
        <p>Bu uygulamada görevlerinizi görebilir, görev durumunu güncelleyebilirsiniz.</p>
        <p>Verilen görevi zamanında yapmaya özen gösterelim. İyi çalışmalar!</p>
    </div>
</div>

<div class="digital-clock-container" id="clock-container">
    <div id="clock" class="digital-clock"></div>
</div>

<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');
        var seconds = now.getSeconds().toString().padStart(2, '0');
        var timeString = hours + ':' + minutes + ':' + seconds;
        document.getElementById('clock').textContent = timeString;
    }

    document.addEventListener('DOMContentLoaded', function () {
        updateClock();
        setInterval(updateClock, 1000);
    });
</script>
