@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="badge-base LI-profile-badge" data-locale="tr_TR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="alperen-ak-545078320" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://tr.linkedin.com/in/alperen-ak-545078320?trk=profile-badge">Alperen Ali Ak</a></div>


<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>