@model Models.Information

@{
    ViewData["Title"] = "Bilgilendirmeyi Düzenle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditInformation" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
