@model TaskAppWeb.Models.CreateUserViewModel

@{
    ViewData["Title"] = "Yeni Kullanıcı Ekle";
}

<h1>Yeni Kullanıcı Ekle</h1>

<form asp-action="CreateUser" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Ad</label>
        <input asp-for="FirstName" class="form-control" placeholder="Kullanıcı Adını giriniz" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Soyad</label>
        <input asp-for="LastName" class="form-control" placeholder="Kullanıcı Soyadını giriniz" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">E-posta</label>
        <input asp-for="Email" class="form-control" placeholder="Kullanıcı E-posta adresini giriniz" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId" class="control-label">Departman</label>
        <select asp-for="DepartmentId" class="form-control" asp-items="Model.Departments"></select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

<div class="mt-3">
    <a asp-action="AllUsers" class="btn btn-secondary">← Geri Dön</a>
</div>
