@using Microsoft.AspNetCore.Identity
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TKGörevYönetim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .dark-mode {
            background-color: #333;
            color: #f0f0f0;
        }

            .dark-mode .navbar, .dark-mode .footer {
                background-color: #222;
            }

                .dark-mode .navbar .nav-link, .dark-mode .footer {
                    color: #ddd;
                }

        .nav-link, .logout-button, .navbar-brand {
            transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
        }

            .nav-link:hover, .navbar-brand:hover {
                color: #007bff;
                transform: scale(1.1);
            }

            .logout-button:hover {
                background-color: #dc3545;
                color: #fff;
                transform: scale(1.1);
            }

        body {
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/uploads/Dark Blue Modern Professional Technology Company Logo (1).png" alt="Alternate Text" width="80" height="auto" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (HttpContextAccessor.HttpContext?.User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="AllUsers">Tüm Kullanıcılar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Chat" asp-action="Index">Chat</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTasks" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Görevler
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownTasks">
                                    <li><a class="dropdown-item" asp-controller="ToDoTask" asp-action="MyTasks">Görevlerim</a></li>
                                    <li><a class="dropdown-item" asp-controller="ToDoTask" asp-action="CreateTask">Görevlendir</a></li>
                                    <li><a class="dropdown-item" asp-controller="ToDoTask" asp-action="TaskTracking">Görev Takip</a></li>
                                    <li><a class="dropdown-item" asp-controller="ToDoTask" asp-action="TaskProgress">Görev İlerleme</a></li>
                                    <li><a class="dropdown-item" asp-controller="TaskReport" asp-action="Index">Görev Raporları</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (HttpContextAccessor.HttpContext?.User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Profilim
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Users" asp-action="UserProfile">Profil Bilgilerim</a></li>
                                    <li><a class="dropdown-item" asp-controller="Profile" asp-action="UserToDoList">Yapılacaklar Listem</a></li>
                                    <li><a class="dropdown-item" asp-controller="Information" asp-action="Index">Şirket Bilgilendirmeleri</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="darkModeToggle">🌙</a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn logout-button">Çıkış Yap</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container-fluid pb-3">
        @RenderBody()
    </main>

    <footer class="footer text-muted fixed-bottom">
        <div class="container-fluid text-center">
            &copy; @DateTime.Now.Year - TKTGörevYönetim - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Toast Bildirimi -->
    <div class="toast" id="messageToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto">Yeni Mesaj</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastMessageBody">
            Mesaj içeriği burada gösterilecek.
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.body.style.opacity = 1;

            const darkModeToggle = document.getElementById('darkModeToggle');
            const isDarkMode = localStorage.getItem('darkMode');

            if (isDarkMode === 'enabled') {
                document.body.classList.add('dark-mode');
            }

            darkModeToggle.addEventListener('click', function () {
                if (document.body.classList.contains('dark-mode')) {
                    document.body.classList.remove('dark-mode');
                    localStorage.setItem('darkMode', 'disabled');
                } else {
                    document.body.classList.add('dark-mode');
                    localStorage.setItem('darkMode', 'enabled');
                }
            });

            const navLinks = document.querySelectorAll('.nav-link, .logout-button, .navbar-brand');
            navLinks.forEach(link => {
                link.addEventListener('mouseenter', function () {
                    link.style.transform = 'scale(1.1)';
                });

                link.addEventListener('mouseleave', function () {
                    link.style.transform = 'scale(1)';
                });
            });

            const connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            connection.on("ReceiveMessage", (message) => {
                document.getElementById('toastMessageBody').innerText = message.content;
                const toast = new bootstrap.Toast(document.getElementById('messageToast'));
                toast.show();
            });

            connection.start().catch(err => console.error(err.toString()));
        });
    </script>
</body>
</html>
