@using Microsoft.AspNetCore.Identity
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TKGörevYönetim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">TKT Görev Yönetim</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (HttpContextAccessor.HttpContext?.User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="AllUsers">Tüm Kullanıcılar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ToDoTask" asp-action="MyTasks">Görevlerim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ToDoTask" asp-action="CreateTask">Görevlendir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ToDoTask" asp-action="TaskTracking">Görev Takip</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ToDoTask" asp-action="TaskProgress"> Görev İlerleme</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (HttpContextAccessor.HttpContext?.User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="UserProfile">Profilim</a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-link nav-link">Çıkış Yap</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container-fluid pb-3">
        @RenderBody()
    </main>

    <footer class="footer text-muted">
        <div class="container-fluid text-center">
            &copy; @DateTime.Now.Year - TKTGörevYönetim - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
